#quantity{
    width: 80px;
}

#quantity:focus{
    outline: none;
    box-shadow: none;
}

/* Add these styles to your CSS */
.product-select-container {
    width: 150px; /* Adjust the width as needed */
  }
  
  .quantity-input-container {
    width: 80px; /* Adjust the width as needed */
  }
  