<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-1">
      <h5>Add Order</h5>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <button class="btn btn-outline-primary me-2" type="submit"><i class="fa-regular fa-floppy-disk"></i></button>
          <button class="btn btn-outline-danger" type="button" (click)="goBack()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="mb-2 d-flex">
          <div class="me-3">
            <label for="customerName" class="form-label">Customer Name</label>
            <input type="text" class="form-control" formControlName="customerName">

          </div>
          <div class="">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="number" class="form-control" formControlName="customerPhoneNumber">
          </div>
        </div>
        <div class="mb-2">

        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea name="address" id="address" cols="3" rows="3" class="form-control" formControlName="address"></textarea>
        </div>
        <button type="button" class="btn btn-sm btn-outline-danger mb-2" data-bs-toggle="modal"
          data-bs-target="#addProduct"><i class="fa-solid fa-plus me-1"></i>Add Product</button>
        <table class="table shadow-sm table-hover">
          <thead class="table-info">
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of selectedProducts;let i =index">
              <tr >
                <td> {{product.code}} </td>
                <td> {{product.name}} </td>
                <td> {{product.price}} </td>
                <td formArrayName="orderItems">
                  <div [formGroupName]="i">
                    <input class="form-control" id="quantity" type="number" formControlName="quantity">
                  </div>
                </td>
                <td> {{product.price}} </td>
                <td><button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteSelected(product.id)">Delete</button></td>
              </tr>
          </tbody>
        </table>
      </form>
      <!-- Model Box Start -->


      <div class="modal" id="addProduct">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Check Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead class="">
                  <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <td><input type="checkbox" [checked]="state(product.code)" (click)="change(product,$event)" /></td>
                    <td> {{product.code}} </td>
                    <td> {{product.name}} </td>
                    <td> {{product.price}} </td>
                    <td> <img [src]="'http://localhost:8080/product/'+product?.imageName" alt="{{product.name}}"
                        height="30" width="35"> </td>
                  </tr>
                </tbody>
              </table>
              <!-- Pagination Start -->
              <ul class="pagination justify-content-end">
                <li class="page-item" [ngClass]="{ 'disabled': currentPage === 0 }">
                  <a class="page-link me-2" (click)="goPrevious()">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item" [ngClass]="{ 'disabled': currentPage === (totalElement/size) -1 }">
                  <a class="page-link" (click)="goNext()">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
              <!-- Pagination End -->
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" (click)="submitSelectedProduct()" data-bs-dismiss="modal">Submit</button>
              <button type="button" (click)="modelBoxCancel()" data-bs-dismiss="modal"
                class="btn btn-danger">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Model Box End -->
    </div>
  </div>
</div>
