<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-1">
      <h5>Update Order</h5>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <button [disabled]="orderForm.invalid" class="btn btn-primary me-2 btn-sm" type="submit"><i
              class="fa-regular fa-floppy-disk me-1"></i>Update</button>
          <button class="btn btn-warning btn-sm me-2" type="button" (click)="goBack()"><i
              class="fa-solid fa-xmark text-white me-1"></i>Back</button>
          <button class="btn btn-danger btn-sm" type="button" (click)="goDelete(order.id)"><i
            class="fa-regular fa-trash-can me-1"></i>Delete</button>
        </div>
        <div class="mb-2 d-flex">
          <div class="me-3">
            <label for="customerName" class="form-label">Customer Name</label>
            <input type="text" class="form-control" formControlName="customerName">
            <div
              *ngIf="orderForm.get('customerName')?.invalid && (orderForm.get('customerName')?.dirty || orderForm.get('customerName')?.touched)">
              <span class="text-danger" *ngIf="orderForm.get('customerName')?.hasError('required')">Customer Name is
                required</span>
              <span class="text-danger" *ngIf="orderForm.get('customerName')?.hasError('minlength')">Customer Name must
                be at least 5 characters</span>
            </div>
          </div>
          <div class="">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" formControlName="customerPhoneNumber">
            <div
              *ngIf="orderForm.get('customerPhoneNumber')?.invalid && (orderForm.get('customerPhoneNumber')?.dirty || orderForm.get('customerPhoneNumber')?.touched)">
              <span class="text-danger" *ngIf="orderForm.get('customerPhoneNumber')?.hasError('required')">Customer
                Phone Number is
                required</span>
              <span class="text-danger" *ngIf="orderForm.get('customerPhoneNumber')?.hasError('minlength')">Customer
                Phone Number must
                be at least 5 characters</span>
            </div>
          </div>
        </div>
        <div class="mb-2">

        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea name="address" id="address" cols="3" rows="3" class="form-control" formControlName="address"
            style="width: 435px;"></textarea>
          <div
            *ngIf="orderForm.get('address')?.invalid && (orderForm.get('address')?.dirty || orderForm.get('address')?.touched)">
            <span class="text-danger" *ngIf="orderForm.get('address')?.hasError('required')">Address is
              required</span>
          </div>
        </div>

      </form>

      <table class="table shadow-sm table-hover">
        <thead class="table-info">
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Order Quantity</th>
            <!-- <th>Total Price</th> -->
            <th>
              <button type="button" class="btn btn-sm btn-primary text-white"
                (click)="ngSelectOrder()"><i class="fa-solid fa-plus me-1"></i>Add</button>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let product of _itemArray;let i = index">
          <tr>
            <td> {{product.code}} </td>
            <td>
              <ng-select [items]="products" bindLabel="name" bindValue="id" [(ngModel)]="product.id" (change)="productSelected($event,i)"
                [clearable]="false"></ng-select>
            </td>
            <td> {{product.price}} </td>
            <td> {{product.quantity}} </td>
            <td>
              <div>
                <input class="form-control" id="quantity" type="number" [(ngModel)]="product.ordQ"
                  (input)="test(product.price,product.ordQ)">
              </div>
            </td>
            <!-- <td> {{gg}} </td> -->
            <td><button type="button" class="btn btn-sm text-white btn-danger" (click)="goRemove(i)">
              <i class="fa-regular fa-trash-can me-1"></i>Delete</button></td>
          </tr>
        </tbody>
        <!-- <tfoot>
          <tr>
            <td colspan="5"></td>
            <td> Overall Total: </td>
            <td> {{ totalPrice }} </td>
          </tr>
        </tfoot> -->
      </table>
    </div>
  </div>
</div>